[[define "user_reset_password"]]
<div class="panel panel-default" ng-controller="UserResetPasswordCtrl">
	<div class="panel-body">
		<form class="form-horizontal" name="userResetForm" method="post" action="/reset-password" data-parsley-validate>
			<fieldset>
				<legend>Reset Password</legend>
				
				<!-- flash -->
				[[template "flash" .]]
				
				<div class="form-group">
			   		<label class="col-md-4 control-label" for="new_password">New Password:</label>
					<div class="col-md-6">
						<input id="password" name="password" type="password" ng-model="password" placeholder="New Password" class="form-control input-md" required data-parsley-required-message="Please enter your new password" data-parsley-minlength="8" data-parsley-minlength-message="Short passwords are easy to guess. Try one with at least 8 characters." data-parsley-trigger="change">
					</div>
				</div>
			   	<div class="form-group">
			   		<label class="col-md-4 control-label" for="confirm_password">Confirm Password:</label>
					<div class="col-md-6">
						<input id="confirm_password" name="confirm_password" type="password" ng-model="confirmPassword" placeholder="Confirm Password" class="form-control input-md" required data-parsley-required-message="Please confirm your new password" data-parsley-equalto="#password" data-parsley-equalto-message="Passwords do not match" data-parsley-trigger="change">
					</div>
				</div>
					<div class="form-group">
					<div class="col-md-6">
		                <input id="token" name="token" type="hidden" ng-value="token">
					</div>
		       	</div>
				<div class="form-group">
					<div class="col-md-4 col-md-offset-4">
						<button id="signup" name="signup" class="btn btn-primary">Reset Password</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<script type="text/javascript">
	app.value('token', [[.token]]);
</script>
<script src="/public/js/Users/user_reset_password.js"></script>
[[end]]